@import "tailwindcss";

nav {
  font-family: ovo;
}

.font-outfit {
  font-family: Outfit;
}

.font-ovo {
  font-family: ovo;
}

.gridTemplateColumn {
  grid-template-columns: repeat(auto-fit, minmax(200px));
}